/* // <!-- Made By - Asmita Kumari --> */

body ,html{
    margin:0px;
    height: 100%;
    width: 100%;
}

.app-logo{
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.navbar-text form {
    display: inline;
  }

.navbar {
    width: 100vw;
  }
  
.sidebar{
    display: flex;
    height: 100vh;
    width: 20vw;
    float: left;
    /* overflow-y: scroll; */
    /* overflow: auto; */
}

.side-row{
    padding: 30px;
}

.slides{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.slides img{
    width: 85vw;
}

